h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.85rem;
}

a {
    color: #343D4C;
    text-decoration: underline;
}

.btn {
    color: white;
    border-radius: 40px;
    background-color: $color-primary;
    padding: 14px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 318px;

    &:hover {
        transition: all .3s;
        background-color: $color-primary-darker;
    }
}